.navbar {
  background-color: #3B3433;
  color: white;
  padding: 15px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
}

.navbar-grid {
  display: grid;
  grid-template-columns: .1fr 1fr auto;
}

.burger {
  align-self: center;
  justify-self: center;
  margin-left: 15px;
}

.logo {
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: start;
  align-self: center;
  margin-left: .5rem;
}

.listItemContainer {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
  align-self: center;
}

.listItemContainer ul {
  list-style-type: none;
}

.listItemContainer ul li {
  display: inline;
  padding: 0px 10px;
}

.listItemContainer ul li:nth-of-type(4) {
 margin-right: 30px;
}

.listItemContainer ul li a {
 text-decoration: none;
 color: white; 
}

.listItemContainer ul li a:hover {
  text-decoration: underline;
 }

@media screen and (max-width: 725px) {
  .listItemContainer ul {
    display: none;
  }

  .navbar-grid {
    grid-template-columns: auto auto;
  }
}
